:root {
  --color-tinta: white;
  --color-fondo-contenido: rgb(63, 63, 63);
  --color-fondo-secundario: rgb(31, 31, 31);
  --color-fondo: black;
  --color-fondo-alerta: rgb(255, 47, 81);
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  color: var(--color-tinta);
  background-color: var(--color-fondo);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: var(--color-tinta);

  text-decoration: none;
}